
nav,
header,
.main,
.foot
{
    background-color: black;
    color: white;
    font-family: 'Aleo', serif;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.342);
}

header
{
    border: 2px solid white;
}

h1 
{
    font-size: 100px;
    text-align: center;
    font-family: 'Prata', serif;

}

nav
{
    text-align: center;
    padding: 20px;
    word-spacing: 5em;
    font-family: 'Aleo', serif;
    border: 2px solid white;
}

a
{
    padding: 15px;
    border: 2px solid white;
    font-size: 20px;
    text-decoration: none;
}

a:link, 
a:visited
{
    color:rgb(224, 224, 224)
}

a:hover
{
    background-color: rgb(49, 51, 51);
}

#cuts
{
   margin: 1000px;
}

.main,
.foot
{
    font-size: 25px;
    padding-left: 200px;
    border: 5px solid black;

}

#img1
{
  border: 2px solid rgba(202, 189, 189, 0.486);
}

/*
#parallaxImg1
{
    background-image: url("jason-leung-2seUdPQNy_I-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/


#parallaxImg2
{
    background-image: url("tim-mossholder-q49oU8NeOHQ-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#quotes
{
    text-align: center;
}

#quotes p
{
    display:inline-block;
    text-align: center;
    max-width: 300px;
    margin-right: 100px;
    margin-left: 100px;
}




body
{
    background-image: url("agustin-fernandez-Znyjl9pbaUs-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#email,
#phone
{
    filter: invert(100%);
    padding-right:10px;
}
