
nav,
header,
.main,
.foot
{
    background-color: black;
    color: white;
    font-family: 'Aleo', serif;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.342);
}

header,
nav,
.main,
.foot
{
    border: 3px solid rgba(245, 162, 67, 0.712);
}

h1 
{
    font-size: 100px;
    text-align: center;
    font-family: 'Prata', serif;

}

nav
{
    text-align: center;
    padding: 20px;
    word-spacing: 5em;
    font-family: 'Aleo', serif;
}

a
{
    padding: 15px;
    border: 2px solid white;
    font-size: 40px;
    text-decoration: none;
}

a:link, 
a:visited
{
    color:rgb(224, 224, 224)
}

a:hover
{
    background-color: rgba(255, 212, 162, 0.473);
}

.main,
.foot
{
    font-size: 25px;
    padding-left: 200px;

}

#intro
{
    display:block;
    
}

h2
{
    font-size: 50px;
}

#intro p
{
    width: 1300px;
    padding-bottom: 200px;
    font-size: 45px;
}

#img1
{
    border: 3px solid rgba(245, 162, 67, 0.712);
    float:left;
    margin-right: 20px;
    margin-left: 30px;
    border-radius: 3px;
}

/*
#intro
{
    background-image: url("../../media/jason-leung-2seUdPQNy_I-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/


#cuts
{
    background-image: url("../../media/tim-mossholder-q49oU8NeOHQ-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    
}

.imgIcon
{
    float:left;
    filter:invert(100%);
   
}

#cuts img
{
    margin-right: 20px;
}

.cutsdivide
{
   width: 700px;
}

#everycut
{
    background-color:rgba(0, 0, 0, 0.308);
    border-radius: 20px;
    width: 700px;
}

#quotes
{
    text-align: center;
}

#quotes p
{
    display:inline-block;
    text-align: left;
    width: 300px;
    margin-right: 100px;
    margin-left: 100px;

}




body
{
    background-image: url("../../media/agustin-fernandez-Znyjl9pbaUs-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#disclaimer
{
    font-size: 15px;
}

#email,
#phone
{
    filter: invert(100%);
    padding-right:10px;
}
